body {
  background-image: url("../static/back.png");
  background-repeat: repeat-y;
  background-size: 100%;
  margin: 0;
  height: 95vh;
}

#impimp{
  background-color: #4a57ce;
  color: #ffffff;
}

#impimp:hover {
  background-color: rgb(121, 223, 244);
  color: #000000;
  transition: 150ms ease-in-out;
}


nav {
  font-family: 'League Spartan';
  display: flex;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: #0f1422;
  height: 60px;
  padding: 0 20px;
  border-radius: 10px;
}

.logo{
  color: #fff;
  font-size: 25px;
  margin-left: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  padding: 8px;
  color: #000000;
  border: 2px solid #000000;
  background-color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  border-radius: 10px;
}

.nav-links a:hover {
  background-color: #4a57ce;
  color: #ffffff;
  transition: 150ms ease-in-out;
}


#p1{
  margin-top: 60px;
  color: #fff;
  font-family: 'League Spartan';
  font-size: 20px;
  font-weight: lighter;
  word-spacing: 2px;
  line-height: 25px;
}

#p2{
  color: #fff;
  font-family: 'League Spartan';
  font-size: 20px;
  font-weight: lighter;
  word-spacing: 2px;
  line-height: 25px;
}


#heading{
  font-family: 'League Spartan';
  font-weight: lighter;
}


#title{
  display: inline;
  font-size: 50px;
  font-family: 'League Spartan';
  font-weight: normal;
  color: rgb(235, 88, 237);
}

#title:hover{
  color: rgb(246, 110, 146);
  transition: 150ms ease-in-out;
}

.main {
  color: #fff;
  padding: 40px;
}
.upload input[type="file"] {
  display: none;
  /* margin: 0 auto 5%;
  font-size: 18px; */
}

.upload {
  display: flex;
  justify-content: center;
}

#abcd{
  padding: 10px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  display: block;
  text-align: center;
  color: #000000;
  background-color: rgb(255, 255, 255);
  margin: 10px;
}

#formtot{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.upload input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload input[type="submit"]:hover {
  background-color: #3e8e41;
}
  
 