<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Image Captioning</title>
        <link rel="stylesheet" href="../static/styleabout.css">
    </head>
    <body>
        <nav>
            <div class="logo">
                DIFFMOD
            </div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/about" id="impimp">About</a></li>
            </ul>
          </nav>


        <div class = "main">
            <h1 id="heading">Welcome to <p id="title">DIFFMOD</p></h1>
            <p id="p1">
            DIFFMOD is an image captioning model. Image captioning models are currently owned by some big companies such as Instagram, Facebook and Google. These companies have the monetised versions of this model available.
            </p>
            <br>
            <p id="p2">
            DIFFMOD is different from such models as we want our model to be publically available. Inspired by the open source models like stable diffusion and auto gpt, we want DIFFMOD to be an open source library to revolutionise the image captioning community.
            </p>
        </div>
    </body>
</html>