<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Image Captioning</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <nav>
            <div class="logo">
                DIFFMOD
            </div>
            <ul class="nav-links">
              <li><a href="./index.html" id="impimp">Home</a></li>
              <li><a href="./About.html">About</a></li>
            </ul>
          </nav>

        <div id = "toptag">
            Get the <p id="caption">perfect caption </p> for your <p id = "click">perfect click 📸</p><br>
        </div>
        
        <div class = "main">
            <div class = "upload">
                <form method="POST" action="/" enctype="multipart/form-data" id="formtot">
                    <!-- <input type="file" name="userfile" title="nothing"> -->
                    <input type="file" name="userfile" id="img"/>
                    <label for="img" id="abcd">Select Image</label>
                    <input type="submit">
                </form>
            </div>
        </div>
    </body>
</html>